/* CSS Document */

body{
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}


#parallax-bg1{
	margin:300px;
    position: fixed;
    left: 15%; /* align left edge with center of viewport */
    top: 50%;
	margin-top:1200px;
	z-index: 0;
	}
	
#parallax-bg2{
	margin:100px;
    position: fixed;
    left: 30%; /* align left edge with center of viewport */
    top: 100px;
	}
#parallax-bg3{
	margin:60px;
    position: fixed;
    left: 1%; /* align left edge with center of viewport */
    top: 500px;
	}
	
#parallax-bg4{
	margin:50px;
    position: fixed;
    left: 75%; /* align left edge with center of viewport */
    top: 1000px;
	}
#parallax-bg5{
	margin:600px;
    position: fixed;
    left: 25%; /* align left edge with center of viewport */
    top: 700px;
	}
	
.zedup{
	z-index:100;
}

#myCarousel{
	opacity:2;
	z-index:1;
	}

.headline{margin-top:45px;}

.pushup{
	margin-top:100px;
	margin-left:100px;
}

.makeinline{
	display:inline;
}




/* =================== NAV ================== */

.navbar .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  color: #55606E;
  text-decoration: none;
  font:bold 16px/40px "Open Sans",Helvetica,Arial,Sans-serif;
  text-transform:uppercase;
  font-weight:300;
  border-top:11px solid transparent;
}

.navbar .nav > li.active{
   border-top:11px solid #22b6f2;
   opacity: 0.9;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  background-color:transparent;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    color: rgb(85, 85, 85);
    text-decoration: none;
    background-color: transparent;
    box-shadow: none;
}

.navbar .nav > li.active:hover{border-top:none; padding-top:0px;}


.navbar .nav > li.active a{padding-top:0px;}
.navbar .nav > li.active a:hover{padding-top:11px;}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #22b6f2;
  text-decoration: none;
  background-color: transparent;
  border-top:11px solid #22b6f2;
    opacity: 0.9;
  -webkit-transition: opacity 0.15s linear;
     -moz-transition: opacity 0.15s linear;
       -o-transition: opacity 0.15s linear;
          transition: opacity 0.15s linear;
}
/* =================== /NAV ================== */


.hero-unit{
	opacity:.95;
	margin: 0 50px;
}


.disappear{
	background-color:transparent;
	margin:0 auto;
}


.mainlogo:hover{opacity:.5;}

.blueback{
	background-image:url(../img/cloudback2.jpg);
	background-size:cover;
	z-index:0;
}

.greenback{
	background-image:url(../img/greenback.jpg);
	background-size:cover;
}

.cloudback{
	background-image:url(../img/cloudback.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	position:bottom bottom;
	z-index:-100;
	
}

.whiteback{
	padding:15px 0;
}



h2{text-align:center;
font-size:36px;
text-transform:uppercase;
text-shadow:inherit;
color:#22b6f2;
font-weight:100;
 }

.blueh2{padding:25px;
}

.section{padding:4.5% 0; 
border-bottom: 1px solid #CCC;}

.saluteimage{
	height:200px;
}

.benefitimage{
	height:200px;
	width:300px;
}


footer{
	
	padding-bottom:80px;
}

footer a{
	text-decoration:none;
	font-style:none;
	color:black;
	font-weight:600;
}
